@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");

:root {
    font-family: "Rubik", sans-serif;

    --dark: 55, 57, 63;
    --darker: 48, 49, 54;
    --darkest: 33, 34, 37;
    --extra-dark: 20, 22, 25;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(var(--darkest));
    color: white;
    line-height: 175%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.container {
    padding: 0 20%;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0 5%;
    }
}

input,
textarea,
select,
button {
    background-color: rgb(var(--darker));
    border: none;
    outline: none;
    border-radius: 5px;

    color: white;
}

input[type="submit"],
button {
    background-color: rgb(var(--darker));
}

input[type="submit"] {
    font-size: 110%;
}

button {
    padding: 0.25em 0.75em;
}

input[type="submit"]:hover,
button {
    background-color: rgb(var(--dark));
}

input[type="text"],
textarea {
    width: 100%;
}

input,
select {
    font-size: 90%;
    padding: 0.5em;
}

textarea {
    font-family: "Rubik", sans-serif;
    padding: 0.5em 0.5em 0 0.5em;
}

input::placeholder,
textarea::placeholder {
    color: #fff8;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0 0.5em 0 0;

    width: 1.15em;
    height: 1.15em;
    border: 1px solid rgb(var(--dark));
    border-radius: 5px;

    transform: translateY(0.2em);

    transition: 100ms ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: white;
}

a {
    text-decoration: none;
    color: #009688;
}

.error,
.success {
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.error {
    background-color: #c33a;
    border-left: 5px solid red;
}

.success {
    background-color: #3c3a;
    border-left: 5px solid green;
}

.glass {
    background-color: #0002;
    padding: 1em 2em 1em 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.row,
.col {
    display: flex;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}
